* {
  margin: 0;
  padding: 0;
}

img{
  width: 230px;
  height: 140px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
  height: 14vh;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-list li {
  letter-spacing: 1px;
  margin-left: 36px;
}

.navbar a, .navbar p {
 color: #737373;
 text-decoration: none;
 transition: 0.3s;
}

.navbar a:hover, .navbar p:hover {
  opacity: 0.7;
}

hr {
  border: 0,1px solid #737373;
  height: 50px;
}

section {
  padding: 2rem 7%;
}


.home {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #138452;
}

.home .content h3 {
  font-size: 4rem;
  color: #fff;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 550;
  padding-top: 2rem;
  line-height: 4.2rem;
  max-width: 50rem;
}

.home .content p {
  font-size: 1.8rem;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  text-align: justify;
  padding: 1.3rem 0;
  max-width: 30rem;
}

.content-button {
  display: flex;
  padding-bottom: 2rem;
}

.content-button button {
  margin-top: 12px;
  padding: 10px 20px;
  width: 260px;
  height: 50px;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #fff;
  color: #138452;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}


.about{
  margin-top: 4rem;
}

.about-container {
  background: url(images/hospital_unimed.jpg) no-repeat right;
  background-size: 55%;
  background-color: #fff;
  overflow: hidden;
  padding: 90px 0;
}

.about-container h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "Hanken Grotesk", sans-serif;
  color: #545454;
  font-weight: bolder;
}

.about-container p{
  font-size: 17px;
  font-family: "Libre Baskerville", serif;
  color: #737373;
  text-transform: none;
  line-height: 24px;
  text-align: justify;
}

.about-container .container {
  width: 45%;
  background-color: #f1efec;
  padding: 100px;
}


.planos {
  margin-top: 4rem;
  background-color: #f1efec;
  height: 800px;
}

.planos-container h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "Hanken Grotesk", sans-serif;
  color: #545454;
  font-weight: bolder;
  text-align: center;
}